@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: var(--font-lugrasimo);
  scroll-behavior: smooth;
}

/* Estilos base del body */
body {
  background: radial-gradient(
    circle at top,
    #000000,    
    #442900,
    #9e5a02
  );
}

