@tailwind base;
@tailwind components;
@tailwind utilities;



html {
  font-family: var(--font-lugrasimo);
  scroll-behavior: smooth;


}

/* Estilos base del body */
body {
  /* Gradiente modo claro */
  background: radial-gradient(
    circle at top,
    #9e5a02,
    #442900,
    #000000
  );
}

